#pattern  filter=crypt diff=crypt merge=crypt
certs/cert.pem filter=crypt diff=crypt merge=crypt
certs/chain.pem filter=crypt diff=crypt merge=crypt
certs/privkey.pem filter=crypt diff=crypt merge=crypt
config.js filter=crypt diff=crypt merge=crypt
docker-compose.yml filter=crypt diff=crypt merge=crypt
Dockerfile filter=crypt diff=crypt merge=crypt